<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MDE -->
      <package
            uri="http://www.ModelDrivenEngineering.com/model/v1"
            class="ModelDrivenEngineering.ModelDrivenEngineeringPackage"
            genModel="model/MDE.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Context -->
      <package
            uri="http://www.mde.com/context"
            class="Context.ContextPackage"
            genModel="model/Context.genmodel"/>
   </extension>

</plugin>
