<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MDE -->
      <package
            uri="http://www.ModelDrivenEngineering.com/model/v1"
            class="com.mde.ModelDrivenEngineering.ModelDrivenPackage"
            genModel="model/MDE.genmodel"/>
   </extension>

</plugin>
